@model IEnumerable<My_pro.Model.Entites.Users>

@{
    Layout = null;
    int CountId = 1;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" type="image/png" href="~/img/Default/Icon/Bim.png" />
    <title>Fresh Bootstrap Table by Creative Tim</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/fresh-bootstrap-table.css" rel="stylesheet" />
    <link href='~/css/Alert.css' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

</head>
<body>

    <div class="wrapper">
        <div class="fresh-table toolbar-color-blue full-screen-table">
            <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
                    Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
            -->

            <div class="toolbar">
                <button id="alertBtn" class="btn btn-default">Alert</button>
            </div>

            <table id="fresh-table" class="table">
                <thead>
                <th data-field="id">ID</th>
                <th data-field="name" data-sortable="true">User Name</th>
                <th data-field="salary" data-sortable="true">Email</th>
                <th data-field="country" data-sortable="true">Phone</th>
                <th data-field="city">Country</th>
                <th data-field="actions">Actions</th>
                </thead>
                <tbody>
                    @foreach (var o in Model)
                    {
                        <tr>
                            <td>@CountId</td>
                            <td>@o.UserName</td>
                            <td>@o.Email</td>
                            <td>@o.PhoneNumber</td>
                            <td>@o.Country</td>
                            <td>
                                <a rel="tooltip" class="table-action like" href="../../../Home/TProfile/@o.Id" title="Profile">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a rel="tooltip" data-toggle="modal" data-target="#DelUser" onclick="Setval('@o.Id');" class="table-action remove" href="" title="Hide">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                        CountId++;
                    }

                </tbody>
            </table>
        </div>

    </div>


    <!-- alart modal -->
    <div class="modal fade" id="DelUser" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">Dialog :</h3>
                </div>
                <div class="modal-body">
                    <!-- content goes here -->
                    <form>
                        <label>Do you want to delete this User?</label>
                    </form>
                </div>
                <div class="modal-footer btn-G">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn-T" data-dismiss="modal" role="button">Close</button>
                        </div>
                        <div class="btn-group btn-delete" role="group">
                            <button onclick="DeleteUser();" type="button" id="delImage" class="btn-T btn-hover-red" data-dismiss="modal" role="button">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end alart modal -->




</body>

</html>
<script type="text/javascript" src="~/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap.js"></script>
<script type="text/javascript" src="~/js/bootstrap-table.js"></script>
<script type="text/javascript" src="~/js/Alert.js"></script>

<script type="text/javascript">
    var L = "";
    function Setval(x) { L = x; }

    function DeleteUser() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Delete", "Home")',
            data: { id: L },
            dataType: 'json',
            success: function (data) {
                window.location.href = "../../../Admin/AllUsersList/"
            },
            error: function (xhr) {
                window.location.href = "../../../Admin/AllUsersList/"
            }
        });
    }
</script>